SECRET_KEY = CHANGE-ME

DB_ENGINE=django.db.backends.mysql
DB_NAME=your_database_name
DB_USER=your_username
DB_PASSWORD=your_password
DB_HOST=localhost
DB_PORT=3306

DEBUG=False

ALLOWED_HOSTS=127.0.0.1,localhost

# Email (optional)
# EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
# EMAIL_HOST=smtp.gmail.com
# EMAIL_PORT=587
# EMAIL_HOST_USER=your_email@gmail.com
# EMAIL_HOST_PASSWORD=your_app_password
# EMAIL_USE_TLS=True
# DEFAULT_FROM_EMAIL=your_email@gmail.com
# CONTACT_EMAIL=your_email@gmail.com
